blinker==1.8.2
click==8.1.7
colorama==0.4.6
dnspython==2.6.1
docopt==0.6.2
Flask==3.0.3
Flask-Cors==4.0.1
ImageHash==4.3.1
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
more-itertools==10.2.0
numpy==1.26.4
pillow==10.3.0
pymongo==4.7.2
python-magic-bin==0.4.14
PyWavelets==1.6.0
scipy==1.13.1
termcolor==2.4.0
Werkzeug==3.0.3
